In [1]:
import numpy as np
import pandas as pd

In [5]:
business_df = pd.read_csv("sample_business.csv")
checkin_df = pd.read_csv("sample_checkin.csv")
review_df = pd.read_csv("sample_review.csv")
tip_df = pd.read_csv("sample_tip.csv")
user_df = pd.read_csv("sample_user.csv")

In [6]:
user_df

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,494127,knX77K5Kof0_j4Bldyqjyw,Beth,3,2016-07-17 01:05:21,0,0,0,NaN,"61cgUglkQH61nj74WWdJyQ, iImaiEExFUEMDRjVJ1mk1w...",...,0,0,0,0,0,0,0,0,0,0
1,265553,MMYlce0L_M65xeh8SwV3WA,Laura,21,2014-09-22 18:46:00,23,10,12,NaN,"tg4TM48hsJ2SclXTdLLvWg, swEagjOeTKwdp9VnZ8PM0Q",...,0,0,0,0,4,1,0,0,0,0
2,195169,fTU0oU6hZR6gPS0MIjFc_w,Steve,193,2015-10-26 01:17:11,37,6,10,NaN,None,...,0,0,0,0,0,0,1,1,1,1
3,98962,IB5f0wf3su09GC9O0754nA,Brianna,16,2014-07-06 03:06:48,39,10,7,NaN,"PXa3G3OEdpn71cztsqHevg, saaI4u6JKWfzUxwFwsn38g...",...,0,0,0,0,0,1,0,0,0,0
4,294551,R2zy34oAFEKthOssSnwY8A,Dana,15,2015-01-11 15:13:30,5,0,0,NaN,"SX8afpQiZ13Ori7FHNhvqw, U3zUbKEgjwyo-j8PTszNnw...",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,82738,5Uf6gMUssJsaHvLHGH38NQ,Mink,8,2011-10-15 23:46:28,26,7,10,NaN,"fEtWwhNKSoTqIWTSEwGIvg, c8pMZVU9GxiuL-B14vkajg...",...,0,0,0,0,3,1,0,0,0,0
39996,673948,o2NAdWq8oKy9FOMgEcrUnQ,Amy,13,2012-11-28 23:39:16,6,0,1,NaN,"fdQNLtitZiuXBn6F7THwvA, u-LGJKCxVp4SXxL5lRo2dA...",...,0,0,0,0,0,0,0,0,0,0
39997,973699,K15WEci5nx-QvslLM-gH7A,S,2,2019-04-14 16:33:43,1,0,0,NaN,None,...,0,0,0,0,0,0,0,0,0,0
39998,352571,D5QM36MpZKWyTZYWdZ_WGg,Barbara,51,2014-05-18 04:31:52,19,3,4,NaN,hMdZQTD-t9k5JbxmiNt0Uw,...,0,0,0,0,0,1,0,0,0,0
39999,891276,YqwKJmoc6A-9Rpebls9evA,Alexis,3,2017-08-06 01:05:29,0,0,0,NaN,"XuS8lX_mP_nkwPv2R16NZQ, tIkrB5pCmCHw8EpaVweHPQ...",...,0,0,0,0,0,0,0,0,0,0